:root {
    --backgroundColor: #F4F4F4;
    --primaryColor: #FFC0D9;
    --secondaryColor: #80465D;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.fixed_top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.division {
    width: 1px;
    height: 100%;
    background-color: #000;
}

.background {
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    .configContainer {
        background-color: var(--backgroundColor);
        padding: 5%;
        border-radius: 20px;
        height: 85%;
        width: 95%;
        display: flex;
        padding: 0;
        margin-top: 72px;

        h2 {
            margin-left: 100px;
            margin-top: 10px;
        }

        .sideMenu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 3% 31% 3%;

            .optionsTitle {
                font-size: 18px;
            }

            .optionsSection {
                width: 163%;

                .options {
                    font-size: 15px;
                    height: 40px;
                    padding-left: 10%;
                    display: flex;
                    align-items: center;
                }

                .options:hover {
                    cursor: pointer;
                    background-color: #D9D9D9;
                }
            }
        }
    }

    .configInfos {
        display: flex;
        flex-direction: column;
        /* height: 90%; */
        /* justify-self: end;
        align-items: center; */

        .registerFormRow {
            display: flex;
            justify-content: flex-start;
            width: 60%;
        }

        .containerForm {
            display: flex;
            width: 110%;
            margin-left: 90px;

            /* input {
                margin-bottom: 7px;
            } */

            .title {
                font-size: 20px;
            }

            .configTextInfo1 {
                display: flex;
                flex-direction: column;
                margin-right: 7px;
                width: 50%;
                margin-right: 7px;
                gap: 7px;

            }

            .configTextInfo2 {
                display: flex;
                flex-direction: column;
                gap: 7px;

                .inputDif {
                    display: flex;
                    flex-direction: row;
                    gap: 7px;

                    .bigInput {
                        display: flex;
                        flex-direction: column;
                        gap: 7px;
                        width: 90%;
                    }

                    .litInput {
                        display: flex;
                        flex-direction: column;
                        gap: 7px;
                        width: 25%;
                    }
                }


            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            gap: 7px;
            justify-content: end;
            align-items: center;
            margin-right: -186px;

            .secondaryButton {
                margin-top: 15px;
            }
        }
    }
}

.img {
    background-color: #80465D;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-left: 90px;
    margin: 0 0 15px 90px;
}